apiVersion: v1
kind: Service
metadata:
  name: ${SERVICE_NAME} # Stable service name, e.g., "payment-service"
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3002
  selector:
    app: ${SERVICE_NAME}
    color: blue # Default to blue. The pipeline will patch this.